# Build directories
build/
bin/
lib/

# Build artifacts
*.o
*.obj
*.d

# Executables / Libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

# IDE and Editor Configs
.idea/
cmake-build-*/
.vscode/

# Tooling
.cache/
.clangd/

# Compile database
compile_commands.json

# OS Specific
.DS_Store
Thumbs.db
